<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{{data}}
<form action="" method="post">
    <tr>
        <td><label for="Name">Name</label></td>
        <td><input type="text" name="Name" placeholder="Name"><br><br></td>
    </tr>
    <tr>
        <td><label for="Age">Age</label></td>
        <td><input type="text" name="Age" placeholder="Age"><br><br></td>
    </tr>
    <tr>
        <td><label for="Rollno">Roll no</label></td>
        <td><input type="text" name="Rollno" placeholder="Roll no"><br><br></td>
    </tr>
    <tr>
        <td><label for="sub1">Subject 1</label></td>
        <td><input type="text" name="sub1" placeholder="Mark"><br><br></td>
    </tr>
    <tr>
        <td><label for="sub2">Subject 2</label></td>
        <td><input type="text" name="sub2" placeholder="Mark"><br><br></td>
    </tr>
    <tr>
        <td><label for="sub3">Subject 3</label></td>
        <td><input type="text" name="sub3" placeholder="Mark"><br><br></td>
    </tr>
    <tr>
        <td><label for="sub4">Subject 4</label></td>
        <td><input type="text" name="sub4" placeholder="Mark"><br><br></td>
    </tr>
    <tr>
        <td><label for="sub5">Subject 5</label></td>
        <td><input type="text" name="sub5" placeholder="Mark"><br><br></td>
    </tr>
    <tr>
        <td><input type="submit" value="add Student"></td>
    </tr>
</form>    
</body>
</html>