<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ridgeview Middle School{% endblock title %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="#" class="navbar-brand">Ridgeview Middle School</a>
        <div class="navbar-menu">
            <a href="#" class="navbar-item">Home</a>
            <a href="#" class="navbar-item">About</a>
            <a href="#" class="navbar-item">Academics</a>
            <a href="#" class="navbar-item">Events</a>
            <a href="#" class="navbar-item">Students' Corner</a>
            <a href="#" class="navbar-item">Admissions</a>
            <a href="#" class="navbar-item">Contact</a>
        </div>
        <div class="navbar-end">
            <a href="{{ url_for('staff_login') }}" class="navbar-item">Login</a>
        </div>
    </nav>

    {% block body %}   {% endblock body %}


</body>
</html>


