{% extends 'base.html' %}

{% block title %}Edit Details{% endblock title %}

{% block body %}


<form method="post" class="edit-form">
    <h3>Edit Student</h3>
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" name="Name" id="Name" placeholder="Enter Name" value="{{ values.Name }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="Age">Age:</label>
        <input type="text" name="Age" id="Age" placeholder="Enter Age" value="{{ values.Age }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="Rollno">Roll No:</label>
        <input type="text" name="Rollno" id="Rollno" placeholder="Enter Roll No" value="{{ values.Rollno }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="sub1">Subject 1:</label>
        <input type="text" name="sub1" id="sub1" placeholder="Enter Mark for Subject 1" value="{{ values.Marks[0] }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="sub2">Subject 2:</label>
        <input type="text" name="sub2" id="sub2" placeholder="Enter Mark for Subject 2" value="{{ values.Marks[1] }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="sub3">Subject 3:</label>
        <input type="text" name="sub3" id="sub3" placeholder="Enter Mark for Subject 3" value="{{ values.Marks[2] }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="sub4">Subject 4:</label>
        <input type="text" name="sub4" id="sub4" placeholder="Enter Mark for Subject 4" value="{{ values.Marks[3] }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="sub5">Subject 5:</label>
        <input type="text" name="sub5" id="sub5" placeholder="Enter Mark for Subject 5" value="{{ values.Marks[4] }}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Edit Student</button>
</form>

{% endblock body %}
