<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Login</title>
</head>
<body>
{{data}}
    <form action="" method="post">
        <label for="name">User Name: </label>
        <input type="text" name="name" placeholder="User name"><br><br>
        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="password"><br><br>
        <input type="submit" value="Log in">
    </form>
    <button><a href="{{url_for('navbar')}}">home</a></button>
</body>
</html>