{% extends 'base.html' %}

{% block title %}Student Details{% endblock title %}

{% block body %}

<h2>Student details</h2>
<table class="student-table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Roll No.</th>
            <th colspan="5">Marks</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for student in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ student.Name }}</td>
            <td>{{ student.Age }}</td>
            <td>{{ student.Rollno }}</td>
            {% for mark in student.Marks %}
            <td>{{ mark }}</td>
            {% endfor %} 
            <td><a href="{{ url_for('edit', id=loop.index) }}" class="edit-btn">Edit</a></td>
            <td><a href="{{ url_for('remove', id=loop.index) }}" class="delete-btn">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="button-container">
    <button class="btn"><a href="{{ url_for('add') }}" style="text-decoration: none; color: inherit;">Add Student</a></button>
    <button class="btn"><a href="{{ url_for('logout') }}" style="text-decoration: none; color: inherit;">Logout</a></button>
</div>

{% endblock body %}
